@import "../../styles/util.less";
@import "../../styles/tweak.less";

@darkBlue: #1c3042;
@orange: #bc4940;
@darkOrangeYellow: #d28631;
@brown: #bc5940;
@deepRed: #892208;
@salmon: #eb8f94;
@tan: #cdae8d;
@lightGray: #f7f6f2;
@midGray: #e6e1da;
@white: #ffffff;

.sans-serif() {
  font-family: 'TTCommons', sans-serif;
  color: @darkBlue;
}

.sans-serif-header() {
  font-family: 'TTCommons', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: @darkBlue;
  text-transform: uppercase;
  font-size: 16px;
}

.ignore-parent-padding () {
  margin: 0 calc(-1 * @tweak-site-side-padding);

  @media screen and (max-width: 960px) {
    margin: 0 calc(-1 * @paddingL);
  }
  @media screen and (max-width: 768px) {
    margin: 0 calc(-1 * @paddingM);
  }
  @media screen and (max-width: 640px) {
    margin: 0 calc(-1 * @paddingS);
  }
}

@large-and-up:   ~"only screen and (min-width: 1081px)";
@medium-and-below: ~"only screen and (max-width: 1080px)";
@medium-and-up:   ~"only screen and (min-width: 769px)";
@small:   ~"only screen and (max-width: 768px)";
@medium-small: ~"only screen and (max-width: 640px)";
@extra-small: ~"only screen and (max-width: 350px)";

// only use with one of the above
@short:   ~"(max-height: 750px)";
@tall:    ~"(min-height: 751px)";

.hide-on-small () {
  @media @small {
    display: none;
  }
}

.hide-on-medium-and-up () {
  @media @medium-and-up {
    display: none;
  }
}

.ignore-parent-padding--add-padding(@multiplier) {
  padding: calc(@tweak-site-side-padding * (@multiplier)) @tweak-site-side-padding;

  @media screen and (max-width: 1024px) {
    padding: calc(@paddingXL * (@multiplier)) @paddingXL;
  }
  @media screen and (max-width: 960px) {
    padding: calc(@paddingL * (@multiplier)) @paddingL;
  }
  @media screen and (max-width: 768px) {
    padding: calc(@paddingM * (@multiplier)) @paddingM;
  }
  @media screen and (max-width: 640px) {
    padding: calc(@paddingS * (@multiplier)) @paddingS;
  }
}

input[type=submit].submit-button {
  width: 100%;
  background-color: @darkBlue;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.icon () {
  background-repeat: no-repeat;
  background-size: cover;
}

.icon--box-braids {
  .icon();
  background-image: url('/assets/images/box-braids-icon.png');
}

.icon--crochet {
  .icon();
  background-image: url('/assets/images/crochet-icon.png');
}

.icon--cornrows {
  .icon();
  background-image: url('/assets/images/cornrows-icon.png');
}

.icon--silk-press {
  .icon();
  background-image: url('/assets/images/silk-press-icon.png');
}

.icon--weave-installs {
  .icon();
  background-image: url('/assets/images/weave-installs-icon.png');
}
